<div class="modal fade" id="server-search" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <h4 class="modal-title">Pick a Server</h4>
      </div>

      <div class="modal-body">
        <p>Find and select your server to get started. Make it your default and we'll open it automatically next time.</p>
        <br>

        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search...">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
          </span>
        </div>
        <br>

        <div class="list-group">
          <a href="#" class="list-group-item active">
            centos7vs
            <small class="text-muted">Created on 7/7/14</small>
            <span class="pull-right"><i class="fa fa-spinner fa-pulse"></i></span>
          </a>
          <a href="#" class="list-group-item">
            centos7admn
            <small class="text-muted">Created on 11/8/14</small>
            <span class="pull-right"><i class="fa fa-spinner fa-pulse"></i></span>
          </a>
          <a href="#" class="list-group-item">
            centos7sqldb
            <small class="text-muted">Created on 12/13/14</small>
            <span class="pull-right"><i class="fa fa-ban"></i></span>
          </a>
        </div>

        <div>
          <span class="text-muted">
            3 matches found
          </span>
        </div>

        <div class="checkbox">
          <label>
            <small><input type="checkbox"> Make default server</small>
          </label>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default btn-flat" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary">Go</button>
      </div>

    </div>
  </div>
</div>
