<div class="col-md-12">
  <div class="row">
    <div class="server">
      <div class="col-md-1">
        <span class="fa-stack fa-lg monitoring-icon">
          <i class="fa fa-cloud fa-stack-2x"></i>
          <i class="fa fa-search fa-stack-1x fa-inverse"></i>
        </span>
      </div>
      <div class="col-md-3">
        <h2>centos7vs</h2>
      </div>

      <div class="col-md-8">
        <span class="pull-left">
          <a class="btn btn-default btn-fab" data-toggle="modal" data-target="#server-config"><i class="fa fa-file-text-o config-icon" title="Configuration"></i></a>
          <a class="btn btn-default btn-fab" data-toggle="modal" data-target="#server-selection"><i class="fa fa-folder-open-o server-icon" title="Pick a Server"></i></a>
        </span>
      </div>
    </div>

    <div class="server-faqs">
      <div class="col-md-5">
        <h6><i class="fa fa-power-off fa-fw-right-6"></i> Running for 7 days, 4 hours</h6>
      </div>

      <div class="col-md-5">
        <h6><i class="fa fa-wifi fa-fw-right-2"></i> 100% Availability</h6>
      </div>

      <div class="col-md-5">
        <h6><i class="fa fa-globe fa-fw-right-5"></i> Dallas TX, USA (DAL09)</h6>
      </div>

      <div class="col-md-5">
        <h6><i class="fa fa-calendar fa-fw-right-4"></i> Created 24 days ago</h6>
      </div>
    </div>
  </div>
</div>
