<div class="nav-collapse sidebar">
  <ul class="sidebar-menu" id="nav-accordion">
    <li><a href="{{page.baseurl}}">Dashboard</a></li>
    <li><a href="{{page.baseurl}}usage">Usage</a></li>
    <li><a href="{{page.baseurl}}processes">Processes</a></li>
    <li><a href="javascript:;">Notifications</a>
      <ul class="sub">
        <li><a href="{{page.baseurl}}alerts">Alerts</a></li>
        <li><a href="{{page.baseurl}}logs">Event Logs</a></li>
      </ul>
    </li>
    <li><a href="{{page.baseurl}}settings">Settings</a></li>
  </ul>
</div>
