<section id="divider">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-12">
        <img src="{{page.baseurl}}public/img/divider-img.jpg" class="img-responsive" alt="divider img">
      </div>
      <div class="col-md-6 col-sm-12 divider-des">
        <h3 class="bold">AGENCY TECHNOLOGY</h3>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet. Lorem ipsum dolor sit  amet, consectetuer adipiscing elit.</p>
        <span><i class="icon-phone icon-small"></i> WEB DEVELOPMENT</span>
          <div class="progress">
            <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="60" style="width: 90%;"></div>
          </div>
        <span><i class="icon-printer icon-small"></i> WEB DESIGN</span>
          <div class="progress">
            <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 60%;"></div>
          </div>
        <span><i class="icon-camera icon-small"></i> SEO MARKETING</span>
          <div class="progress">
            <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="80" style="width: 80%;"></div>
          </div>
      </div>
    </div>
  </div>
</section>