<div class="modal fade" id="server-selection" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <h4 class="modal-title">Pick a Server</h4>
      </div>

      <div class="modal-body">
        <p>Find and select your server to get started. Make it your default and we'll open it automatically next time.</p>

        <div class="list-group">
          <a href="#" class="list-group-item">
            centos7vs
            <small class="text-muted"> Created on 12/7/14</small>
            <span class="pull-right"><i class="fa fa-spinner fa-spin"></i></span>
          </a>

          <a href="#" class="list-group-item">
            ubuntu10vs
            <small class="text-muted"> Created on 12/8/14</small>
            <span class="pull-right"><i class="fa fa-spinner fa-spin"></i></span>
          </a>

          <a href="#" class="list-group-item">
            win2008vs
            <small class="text-muted"> Created on 12/13/14</small>
            <span class="pull-right"><i class="fa fa-ban not-running"></i></span>
          </a>

          <a href="#" class="list-group-item">
            win2010vs
            <small class="text-muted"> Created on 12/14/14</small>
            <span class="pull-right"><i class="fa fa-spinner fa-spin"></i></span>
          </a>
        </div>

        <div class="checkbox">
          <label>
            <small><input type="checkbox" checked> Make default server</small>
          </label>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default btn-flat" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary">Go</button>
      </div>

    </div>
  </div>
</div>
