<footer>
  <div class="container">
    <div class="row">
      <div class="col-sm-6">Copyright &copy; {{site.time | date: "%Y"}} {{site.title}}. All Rights Reserved.</div>
      <div class="col-sm-6 text-right">
        <div class="social">
          <a class="btn btn-theme" href="{{site.data.contact.github}}"><i class="fa fa-git"></i></a>
          <a class="btn btn-theme" href="{{site.data.contact.twitter}}"><i class="fa fa-twitter"></i></a>
          <a class="btn btn-theme" href="{{site.data.contact.linkedin}}"><i class="fa fa-linkedin"></i></a>
        </div>
      </div>
    </div>
  </div>
</footer>