<script src="public/js/jquery.min.js"></script>
<script src="public/js/bootstrap.min.js"></script>
<script src="public/js/jquery-backstretch.js"></script>
<script src="public/js/bootstrap-validator.js"></script>
<script src="public/js/emailaddress.js"></script>
<script src="public/js/spin.js"></script>
<script src="public/js/ladda.js"></script>
<script src="public/js/masonry.js"></script>
<script src="public/js/imagesloaded.js"></script>
<script src="public/js/jquery-shuffle.js"></script>
<script src="public/js/jquery-bxslider.js"></script>
<script src="public/js/waypoints.js"></script>
<script src="public/js/jquery-counterup.js"></script>
<script src="public/js/jquery-wall.js"></script>
<script src="public/js/twitter-fetcher.js"></script>
<script src="public/js/jquery-simple-text-rotator.js"></script>
<script src="public/js/jquery-throttledresize.js"></script>
<script src="public/js/jquery-scrollto.js"></script>
<script src="public/js/wow.js"></script>
<script src="public/js/jquery-knob.js"></script>
<script src="public/js/app.js"></script>