<div class="wrapper">
  <h2>Certifications</h2>
  <ul class="certification clearfix">
    <li>
      <div class="year pull-left">2007</div>
      <div class="description-open pull-right">
        <h3>Network+ Certified</h3>
      </div>
    </li>
    <li>
      <div class="year pull-left">2010</div>
      <div class="description-open pull-right">
        <h3>Certified ScrumMaster</h3>
      </div>
    </li>
    <li>
      <div class="year pull-left">2011</div>
      <div class="description-open pull-right">
        <h3>Project Management Professional</h3>
      </div>
    </li>
    <li>
      <div class="year-hidden pull-left"></div>
      <div class="description-closed pull-right">
        <h3>Certified Scrum Product Owner</h3>
      </div>
    </li>
    <li>
      <div class="year-hidden pull-left"></div>
      <div class="description-closed pull-right">
        <h3>Certified Scrum Professional</h3>
      </div>
    </li>
    <li>
      <div class="year pull-left">2012</div>
      <div class="description-open pull-right">
        <h3>Practical Product Management Certified</h3>
      </div>
    </li>
  </ul>
</div>