<div class="wrapper clearfix">
  <h2>Contact</h2>
  <div class="contact-item">
    <div class="icon pull-left text-center"><span class="fa fa-phone fa-fw"></span></div>
    <div class="title only pull-right">{{site.data.contact.phone}}</div>
  </div>
  <div class="contact-item">
    <div class="icon email pull-left text-center"><span class="fa fa-envelope fa-fw"></span></div>
    <div class="title only pull-right"><a href="{{site.data.contact.emailto}}">{{site.data.contact.email}}</a></div>
  </div>
  <div class="contact-item">
    <div class="icon pull-left text-center"><span class="fa fa-linkedin fa-fw"></span></div>
    <div class="title stacked pull-right">LinkedIn</div>
    <div class="description pull-right"><a href="{{site.data.contact.linkedin}}" target="_blank">{{site.data.contact.linkedin}}</a></div>
  </div>
  <div class="contact-item">
    <div class="icon pull-left text-center"><span class="fa fa-twitter fa-fw"></span></div>
    <div class="title stacked pull-right">Twitter</div>
    <div class="description pull-right"><a href="{{site.data.contact.twitter}}" target="_blank">{{site.data.contact.twitter}}</a></div>
  </div>
  <div class="contact-item">
    <div class="icon pull-left text-center"><span class="fa fa-github-alt fa-fw"></span></div>
    <div class="title stacked pull-right">Github</div>
    <div class="description pull-right"><a href="{{site.data.contact.github}}" target="_blank">{{site.data.contact.github}}</a></div>
  </div>
</div>