<div class="wrapper">
  <h2>Education</h2>
  <ul class="education clearfix">
    <li>
      <div class="year pull-left">2007</div>
      <div class="description datetime pull-right">
        <h3>Network+ Certified</h3>
        <p>ISO-17024 compliant, vendor-neutral technology certification for building, managing, and protecting critical assets of a data network.</p>
      </div>
    </li>
    <li>
      <div class="year pull-left">2009</div>
      <div class="description datetime pull-right">
        <h3>Management Information Systems</h3>
        <p>Core foundations of technology, application software, current programming languages, and managing developmental cycles in business environments.</p>
      </div>
    </li>
    <li>
      <div class="year pull-left">2010</div>
      <div class="description datetime pull-right">
        <h3>Certified ScrumMaster</h3>
        <p>Understanding Scrum values and practices to attain expertise above and beyond most project managers.</p>
      </div>
    </li>
    <li>
      <div class="year pull-left">2015</div>
      <div class="description datetime pull-right">
        <h3>Information Technology</h3>
        <p>Advanced studies in digital imaging, graphic design, security, web and software integration, networking, and enterprise technology.</p>
      </div>
    </li>
  </ul>
</div>