<div class="wrapper clearfix">
  <h2>Experience</h2>
  <div class="experience clearfix">
    <div class="col-xs-3">
      <div class="location">IBM Cloud</div>
      <div class="year">2012 &dash; Present</div>
    </div>
    <div class="col-xs-9">
      <div class="profession">Product Manager</div>
      <div class="description">Pivot product initiatives and market strategies toward developing a growing cloud computing platform. Responsible for building and launching new cloud solutions in global marketplaces. Report directly to the Chief Technology Officer.</div>
    </div>
  </div>
  <div class="experience clearfix">
    <div class="col-xs-3">
      <div class="location">Neopost ID</div>
      <div class="year">2003 &dash; 2012</div>
    </div>
    <div class="col-xs-9">
      <div class="profession">Senior Product Manager</div>
      <div class="description">Cultivated pipelines to new markets and designed product offerings for new online solutions and native apps. Responsible for customer-facing SaaS, on-premise and digital products. Reported to Director of Product Management.</div>
    </div>
  </div>
  <div class="experience clearfix">
    <div class="col-xs-3">
      <div class="location">Sprint Nextel</div>
      <div class="year">2000 &dash; 2002</div>
    </div>
    <div class="col-xs-9">
      <div class="profession">Technical Project Coordinator</div>
      <div class="description">Spearheaded retail launches for mobile products and provided operational support for system hardware, networks and back-office systems.</div>
    </div>
  </div>
</div>