---
layout: default
title: index
baseurl: "./"
---

<div class="container">
  {% include hero.html %}
  <div class="row">
    <div class="col-xs-12 col-sm-7">
      {% include partials/about.html %}
      {% include partials/experience.html %}
      {% include partials/education.html %}
    </div>
    <div class="col-xs-12 col-sm-5">
      {% include partials/contact.html %}
      {% include partials/skills.html %}
      {% include partials/industries.html %}
      {% include partials/works.html %}
    </div>
  </div>
</div>