<section class="about" id="about">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-6 photo">
        <img src="{{page.baseurl}}public/img/mor-border.jpg" alt="{{site.title}}" class="img-responsive img-halfscreen wow fadeIn" data-wow-duration="1s" data-wow-delay=".2s">
      </div>
      <div class="col-md-6 col-sm-6 about-summary">
        <div class="about-text">
          <div class="section-title">
            <h3>{{site.title}}</h3>
            <hr>
            <div class="clearfix"></div>
          </div>
          <p class="about-intro">An accomplished technologist with experience managing the strategic and tactical avenues for high-tech products. Recognized for creating forward-thinking strategies, aligning business and development pillars, and taking new products from concept, to design, to development, to delivery.<br><br>
          Tech-savvy, creative, and analytical with an extensive background in Software Development, Product Innovation, and Cloud Computing. Adept at drilling into marketspaces, and translating needs into feature functionality. Thrives in fast-paced environments with the autonomy to work creatively, take on new challenges, and improve continuously.
          </p>
          <div class="about-social">
            <ul>
              <li><a href="{{site.links.email}}"><i class="fa fa-envelope"></i></a></li>
              <li><a href="{{site.links.linkedin}}"><i class="fa fa-linkedin"></i></a></li>
              <li><a href="{{site.links.github}}"><i class="fa fa-git"></i></a></li>
              <li><a href="{{site.links.twitter}}"><i class="fa fa-twitter"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-6 skill">
        <h6 class="progress-title">Product Management</h6>
        <div data-progress="96" class="skill-item wow">
          <div class="skill-item-progress">
            <span class="counter">
            <span class="count">96</span>
            %
            </span>
          </div>
        </div>
        <h6 class="progress-title">Software Development</h6>
        <div data-progress="78" class="skill-item wow">
          <div class="skill-item-progress">
            <span class="counter">
            <span class="count">90</span>
            %
            </span>
          </div>
        </div>
        <h6 class="progress-title">Cloud Computing</h6>
        <div data-progress="90" class="skill-item wow">
          <div class="skill-item-progress">
            <span class="counter">
            <span class="count">94</span>
            %
            </span>
          </div>
        </div>
        <h6 class="progress-title">Product Design</h6>
        <div data-progress="60" class="skill-item wow">
          <div class="skill-item-progress">
            <span class="counter">
            <span class="count">84</span>
            %
            </span>
          </div>
        </div>
        <h6 class="progress-title">Information Development</h6>
        <div data-progress="84" class="skill-item wow">
          <div class="skill-item-progress">
            <span class="counter">
            <span class="count">92</span>
            %
            </span>
          </div>
        </div>
        <h6 class="progress-title">Web Engineering</h6>
        <div data-progress="45" class="skill-item wow">
          <div class="skill-item-progress">
            <span class="counter">
            <span class="count">79</span>
            %
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
