<div class="holder">
  <div class="col-md-6 col-sm-6 wow fadeInUp">
    <i class="icon icon-briefcase"></i>
    <h2>Work Experience</h2>
    <p>Lorem ipsum dolor sit amet, ea doming epicuri iudicabit nam, te usu virtute placerat. Purto brute disputando cu est, eam dicam soluta ei. Vel dicam vivendo accusata ei, cum ne periculis molestiae pri. </p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
  </div>
  <div class="col-md-6 col-sm-6">
    <article class="wow fadeInUp" data-wow-duration="1s" data-wow-delay=".2s">
      <h3>Product Manager</h3>
      <p class="info-line"><span>IBM Cloud</span>  /  Sep 2012 - Present</p>
      <p class="years">3 Years</p>
      <div class="divider"></div>
      <p>Lorem ipsum dolor sit amet, ea doming epicuri iudicabit nam, te usu virtute placerat. Purto brute disputando cu est, eam dicam soluta ei. Vel dicam vivendo accusata ei.</p>
    </article>
    <article class="wow fadeInUp" data-wow-duration="1s" data-wow-delay=".2s">
      <h3>Senior Product Manager</h3>
      <p class="info-line"><span>Neopost ID</span>  /  Jul 2003 - Aug 2012</p>
      <p class="years">9 Years</p>
      <div class="divider"></div>
      <p>Lorem ipsum dolor sit amet, ea doming epicuri iudicabit nam, te usu virtute placerat. Purto brute disputando cu est, eam dicam soluta ei. Vel dicam vivendo accusata ei.</p>
    </article>
    <article class="wow fadeInUp" data-wow-duration="1s" data-wow-delay=".2s">
      <h3>Technical Consultant</h3>
      <p class="info-line"><span>Sprint Nextel</span>  /  Nov 2000 - Dec 2002</p>
      <p class="years">2 Years</p>
      <div class="divider"></div>
      <p>Lorem ipsum dolor sit amet, ea doming epicuri iudicabit nam, te usu virtute placerat. Purto brute disputando cu est, eam dicam soluta ei. Vel dicam vivendo accusata ei.</p>
    </article>
  </div>
</div>
