<section class="knowledge text-left" id="knowledge">
  <div class="container">
    <div class="section-title center">
      <h2>Knowledge</h2>
      <div class="line"></div>
      <p><q>Doing 100% of something is better than waiting for 100% of everything.</q> &mdash; Steve Johnson</p>
    </div>
    <div class="space"></div>
    <div class="row">
      <div class="col-md-4 col-sm-6 service wow fadeIn" data-wow-duration="1s" data-wow-delay=".2s">
        <i class="icon icon-briefcase"></i>
        <h4>Product Management</h4>
        <p> Software Development<br>
            Product Innovation<br>
            Marketing<br>
            Product Development</p>
      </div>
      <div class="col-md-4 col-sm-6 service wow fadeIn" data-wow-duration="1s" data-wow-delay=".3s">
        <i class="icon icon-mobile"></i>
        <h4>Web Engineering</h4>
        <p> Front-End Development<br>
            Information Architecture<br>
            App Integration<br>
            Content Management Systems</p>
      </div>
      <div class="col-md-4 col-sm-6 service wow fadeIn" data-wow-duration="1s" data-wow-delay=".4s">
        <i class="icon icon-tools"></i>
        <h4>Product Design</h4>
        <p> Prototypes<br>
            Mockups<br>
            UI/UX<br>
            Information Design</p>
      </div>
      <div class="col-md-4 col-sm-6 service wow fadeIn" data-wow-duration="1s" data-wow-delay=".5s">
        <i class="icon icon-gears"></i>
        <h4>Environments</h4>
        <p> Linux Distros<br>
            Virtual Machines<br>
            Node.js<br>
            Static Site Generators<br>
            MacOSX</p>
      </div>
      <div class="col-md-4 col-sm-6 service wow fadeIn" data-wow-duration="1s" data-wow-delay=".6s">
        <i class="icon icon-cloud"></i>
        <h4>Cloud Computing</h4>
        <p> Software as a Service (SaaS)<br>
            Platform as a Service (PaaS)<br>
            Infrastructure as a Service (IaaS)<br>
            Mobile as a Service (MaaS)<br>
            Data as a Service (DaaS)</p>
      </div>
      <div class="col-md-4 col-sm-6 service wow fadeIn" data-wow-duration="1s" data-wow-delay=".7s">
        <i class="icon icon-presentation"></i>
        <h4>Information Development</h4>
        <p> Markup / Markdown<br>
            Something<br>
            Something Else<br>
            Something More<br>
            Something Better</p>
      </div>
    </div>
  </div>
</section>
