<section class="product" id="product">
 <div class="container">
    <div class="section-title text-center center wow fadeInUp">
       <h2><mark>Products</mark> I've Built</h2>
       <div class="line">
       </div>
       <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor ut labore et dolore.</p>
    </div>
    <div class="space"></div>
    <div class="categories">
       <ul class="cat text-center">
          <li>
             <ol class="type">
                <li><a href="#" data-filter="*" class="active">All</a></li>
                <li><a href="#" data-filter=".software">Software</a></li>
                <li><a href="#" data-filter=".platform">Platform</a></li>
                <li><a href="#" data-filter=".infrastructure">Infrastructure</a></li>
             </ol>
          </li>
       </ul>
       <div class="clearfix"></div>
    </div>
    <div id="lightbox" class="row wow fadeInUp">
       <div class="col-sm-6 col-md-4 col-lg-4 software">
          <div class="product-item">
             <div class="hover-bg">
                <a href="{{page.baseurl}}public/img/works/placeholder-big.jpg">
                   <div class="hover-text">
                      <h4>Project Title</h4>
                      <hr class="line">
                      <small>Web Design, Branding</small>
                      <div class="clearfix"></div>
                      <i class="fa fa-link"></i>
                   </div>
                   <img src="{{page.baseurl}}public/img/works/1.jpg" class="img-responsive" alt="...">
                </a>
             </div>
          </div>
       </div>
       <div class="col-sm-6 col-md-4 col-lg-4 infrastructure">
          <div class="product-item">
             <div class="hover-bg">
                <a href="{{page.baseurl}}public/img/works/placeholder-big.jpg">
                   <div class="hover-text">
                      <h4>Project Title</h4>
                      <hr class="line">
                      <small>Web Design, Branding</small>
                      <div class="clearfix"></div>
                      <i class="fa fa-link"></i>
                   </div>
                   <img src="{{page.baseurl}}public/img/works/2.jpg" class="img-responsive" alt="...">
                </a>
             </div>
          </div>
       </div>
       <div class="col-sm-6 col-md-4 col-lg-4 platform">
          <div class="product-item">
             <div class="hover-bg">
                <a href="{{page.baseurl}}public/img/works/placeholder-big.jpg">
                   <div class="hover-text">
                      <h4>Project Title</h4>
                      <hr class="line">
                      <small>Web Design, Branding</small>
                      <div class="clearfix"></div>
                      <i class="fa fa-link"></i>
                   </div>
                   <img src="{{page.baseurl}}public/img/works/3.jpg" class="img-responsive" alt="...">
                </a>
             </div>
          </div>
       </div>
       <div class="col-sm-6 col-md-4 col-lg-4 platform">
          <div class="product-item">
             <div class="hover-bg">
                <a href="{{page.baseurl}}public/img/works/placeholder-big.jpg">
                   <div class="hover-text">
                      <h4>Project Title</h4>
                      <hr class="line">
                      <small>Web Design, Branding</small>
                      <div class="clearfix"></div>
                      <i class="fa fa-link"></i>
                   </div>
                   <img src="{{page.baseurl}}public/img/works/4.jpg" class="img-responsive" alt="...">
                </a>
             </div>
          </div>
       </div>
       <div class="col-sm-6 col-md-4 col-lg-4 software">
          <div class="product-item">
             <div class="hover-bg">
                <a href="{{page.baseurl}}public/img/works/placeholder-big.jpg">
                   <div class="hover-text">
                      <h4>Project Title</h4>
                      <hr class="line">
                      <small>Web Design, Branding</small>
                      <div class="clearfix"></div>
                      <i class="fa fa-link"></i>
                   </div>
                   <img src="{{page.baseurl}}public/img/works/5.jpg" class="img-responsive" alt="...">
                </a>
             </div>
          </div>
       </div>
       <div class="col-sm-6 col-md-4 col-lg-4 platform">
          <div class="product-item">
             <div class="hover-bg">
                <a href="{{page.baseurl}}public/img/works/placeholder-big.jpg">
                   <div class="hover-text">
                      <h4>Project Title</h4>
                      <hr class="line">
                      <small>Web Design, Branding</small>
                      <div class="clearfix"></div>
                      <i class="fa fa-link"></i>
                   </div>
                   <img src="{{page.baseurl}}public/img/works/6.jpg" class="img-responsive" alt="...">
                </a>
             </div>
          </div>
       </div>
    </div>
 </div>
</section>
