<section class="testimonial text-center">
  <div class="overlay">
    <div class="container">
      <div class="section-title center">
        <h2>What <mark>They</mark> Say</h2>
        <div class="line"></div>
      </div>
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <div class="owl-carousel owl-theme" id="quotes">
            <div class="item wow fadeIn">
              <h5><q>Michael is the type of resource that every Product Marketing person wish they had. Not only does he master all technical areas under his responsibility, he has this unique capacity to relate how things work in a simple, non-technical way that speaks clearly to the end-user. Michael also showed his capacity to lead product-related projects, and played a key role in the success of many product launches.</q></h5>
              <p><strong>Director, Business Development</strong> / Alfresco</p>
            </div>
            <div class="item">
              <h5><q>Michael is truly innovative and creative in all that he accomplishes. Several times here he established a new benchmark for how things should be done. He is very methodical in the way he approaches problems and goes about to fully understand something before rushing to judgment.</q></h5>
              <p><strong>Director, Product Engineering</strong> / Neopost USA</p>
            </div>
            <div class="item">
              <h5><q>I could always count on Michael to provide me with a thorough and realistic project plan that allowed me to manage go-to-market efforts. I relied on his guidance to determine feature priorities, trade-offs and workload estimates. With his knowledge, experience and strong work ethic, Michael will be a valuable asset to any team.</q></h5>
              <p><strong>Sr. Director, Marketing</strong> / Neopost USA</p>
            </div>

            <div class="item">
              <h5><q>I had a chance to work on a variety of projects that were ultimately successful due to Michael's hard work and attentiveness. He worked very closely with our team to ensure the work could be accomplished on time. He also does a fantastic job at conveying exactly what the customer wants.</q></h5>
              <p><strong>Sr. Quality Engineer</strong> / Sailpoint</p>
            </div>
            <div class="item">
              <h5><q>I could always count on Michael to provide me with a thorough and realistic project plan that allowed me to manage go-to-market efforts. I relied on his guidance to determine feature priorities, trade-offs and workload estimates. With his knowledge, experience and strong work ethic, Michael will be a valuable asset to any team.</q></h5>
              <p><strong>Project Manager</strong> / Ticom</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
