<ul class="v-timeline mt50">
  <li>
    <h3 class="v-heading wow fadeInDown" data-wow-duration="0.7s" data-wow-delay="0s">
      <i class="fa fa-paper-plane-o"></i> Experience
    </h3>
  </li>
  <li>
    <time class="v-time wow fadeInLeft" data-wow-duration="0.7s" data-wow-delay="0s" datetime="2013-04-15 13:15">
      <span>2012 - Present</span>
    </time>
    <div class="v-icon" data-toggle="collapse" data-target="#toggle-1">
      <i class="fa fa-minus"></i>
    </div>
    <div class="v-label wow fadeInRight" data-wow-duration="0.7s" data-wow-delay="0s">
      <h4><a href="#" data-toggle="collapse" data-target="#toggle-1">SoftLayer, an IBM Company</a></h4>
      <p class="collapse in" id="toggle-1">
        Cultivate pipelines to new markets and design service offerings for a growing cloud ecosystem. Responsible for introducing new cloud solutions to global marketplaces. Reports to CTO &amp; Cloud Infrastructure OM.
        <ul>
          <li>Establish new verticals in Bluemix, SoftLayer, and IBM Marketplace catalogs</li>
          <li>Craft business cases, proofs-of-concept, and requirements for dev consumption</li>
          <li>Enact strategies to reach untapped markets and new growth opportunities</li>
          <li>Capture market needs and architect plans to ensure “whole product” success</li>
          <li>Align technology roadmaps and P&amp;L to drive organic growth and achieve business objectives</li>
          <li>Work directly with developers, designers, and end-users to transform strategies into empathic products</li>
        </ul>
      </p>
    </div>
  </li>
  <li>
    <time class="v-time wow fadeInLeft" data-wow-duration="0.7s" data-wow-delay="0.1s" datetime="2013-04-16 21:30">
      <span>2003 - 2012</span>
    </time>
    <div class="v-icon" data-toggle="collapse" data-target="#toggle-2">
      <i class="fa fa-plus"></i>
    </div>
    <div class="v-label wow fadeInRight" data-wow-duration="0.7s" data-wow-delay="0.1s">
      <h4><a href="#" data-toggle="collapse" data-target="#toggle-2">Neopost ID</a></h4>
      <p class="collapse" id="toggle-2">Pivoted product initiatives and market strategies toward developing new online solutions and native apps. Responsible for customer-facing SaaS, on-premise, and digital products. Reported to Director of Product Management.</p>
      <p>
        <ul>
          <li>Reached new markets by transitioning native products to hosted ecosystems</li>
          <li>Facilitated technology refresh programs to eliminate churn and increase revenue flow</li>
          <li>Adopted new Agile and Product Portfolio practices, reducing time-to-market by 40%</li>
          <li>Managed $25M project to transform line-of-business apps into a hosted CRM environment</li>
          <li>Launched storefront for purchasing Internet-enabled apps on smart devices, increasing attachment rates 29-32% each quarter</li>
          <li>Work directly with developers, designers, and end-users to transform strategies into empathic products</li>
        </ul>
      </p>
    </div>
  </li>
  <li>
    <time class="v-time wow fadeInLeft" data-wow-duration="0.7s" data-wow-delay="0.2s" datetime="2013-04-17"><span>2010 - 2011</span></time>
    <div class="v-icon" data-toggle="collapse" data-target="#toggle-3"><i class="fa fa-plus"></i></div>
    <div class="v-label wow fadeInRight" data-wow-duration="0.7s" data-wow-delay="0.2s">
      <h4><a href="#" data-toggle="collapse" data-target="#toggle-3">Bibendum bibendum ultrices</a></h4>
      <p id="toggle-3" class="collapse">Curabitur massa magna, lacinia vel condimentum eu, suscipit nec odio.</p>
    </div>
  </li>
</ul>