<section id="facts" class="section">
  <div class="container">
    <div class="row text-center wow fadeInDown" data-wow-duration="0.7s" data-wow-delay="0s">
      <div class="col-sm-3">
        <h1 class="counter">15</h1>
        <p>years experience</p>
      </div>
      <div class="col-sm-3">
        <h1 class="counter">352</h1>
        <p>project delivered</p>
      </div>
      <div class="col-sm-3">
        <h1 class="counter">2148</h1>
        <p>likes</p>
      </div>
      <div class="col-sm-3">
        <h1 class="counter">12</h1>
        <p>certifications &amp; degrees</p>
      </div>
    </div>
  </div>
</section>