<section id="portfolio" class="section section-solid">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h3 class="section-title">Portfolio</h3>
        <div class="section-title-border"></div>
      </div>
    </div>
    <div class="row wow fadeInDown" data-wow-duration="0.7s" data-wow-delay="0s">
      <div class="col-sm-12 text-center">
        <ul id="filter" class="list-inline filter-tags">
          <li><a href="#" class="btn btn-sm btn-theme-inverse active" data-group="all">All</a></li>
          <li><a href="#" class="btn btn-sm btn-theme-inverse" data-group="branding">Branding</a></li>
          <li><a href="#" class="btn btn-sm btn-theme-inverse" data-group="web">Web</a></li>
          <li><a href="#" class="btn btn-sm btn-theme-inverse" data-group="app">App</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="GITheWall">
    <ul id="portfolio-container" class="text-center wow fadeInDown" data-wow-duration="0.7s" data-wow-delay="0s">
      <li class="portfolio-item" data-groups='["all", "branding"]' data-contenttype="ajax" data-href="public/ajax/1.html">
        <figure>
          <div class="portfolio-img">
            <a href="#" class="overlay">
              <span class="title">Mollis magna</span>
              <span class="category">branding</span>
            </a>
            <img src="public/img/portfolio/1.jpg" alt="" class="img-responsive">
          </div>
        </figure>
      </li>
      <li class="portfolio-item" data-groups='["all", "web"]' data-contenttype="ajax" data-href="public/ajax/2.html">
        <figure>
          <div class="portfolio-img">
            <a href="#" class="overlay">
              <span class="title">Suspendisse potenti</span>
              <span class="category">web</span>
            </a>
            <img src="public/img/portfolio/2.jpg" alt="" class="img-responsive">
          </div>
        </figure>
      </li>
      <li class="portfolio-item" data-groups='["all", "app"]' data-contenttype="ajax" data-href="public/ajax/1.html">
        <figure>
          <div class="portfolio-img">
            <a href="#" class="overlay">
              <span class="title">Sed hendrerit</span>
              <span class="category">app</span>
            </a>
            <img src="public/img/portfolio/3.jpg" alt="" class="img-responsive">
          </div>
        </figure>
      </li>
      <li class="portfolio-item" data-groups='["all", "branding"]' data-contenttype="ajax" data-href="public/ajax/2.html">
        <figure>
          <div class="portfolio-img">
            <a href="#" class="overlay">
              <span class="title">Etiam commodo lacus</span>
              <span class="category">branding</span>
            </a>
            <img src="public/img/portfolio/4.jpg" alt="" class="img-responsive">
          </div>
        </figure>
      </li>
      <li class="portfolio-item" data-groups='["all", "web"]' data-contenttype="ajax" data-href="public/ajax/1.html">
        <figure>
          <div class="portfolio-img">
            <a href="#" class="overlay">
              <span class="title">Ac tristique</span>
              <span class="category">web</span>
            </a>
            <img src="public/img/portfolio/5.jpg" alt="" class="img-responsive">
          </div>
        </figure>
      </li>
      <li class="portfolio-item" data-groups='["all", "app"]' data-contenttype="ajax" data-href="public/ajax/2.html">
        <figure>
          <div class="portfolio-img">
            <a href="#" class="overlay">
              <span class="title">Ipsum tempor quis</span>
              <span class="category">app</span>
            </a>
            <img src="public/img/portfolio/6.jpg" alt="" class="img-responsive">
          </div>
        </figure>
      </li>
      <li class="portfolio-item" data-groups='["all", "branding"]' data-contenttype="ajax" data-href="public/ajax/1.html">
        <figure>
          <div class="portfolio-img">
            <a href="#" class="overlay">
              <span class="title">Donec accumsan</span>
              <span class="category">branding</span>
            </a>
            <img src="public/img/portfolio/7.jpg" alt="" class="img-responsive">
          </div>
        </figure>
      </li>
      <li class="portfolio-item" data-groups='["all", "web"]' data-contenttype="ajax" data-href="public/ajax/2.html">
        <figure>
          <div class="portfolio-img">
            <a href="#" class="overlay">
              <span class="title">Arcu id porta</span>
              <span class="category">web</span>
            </a>
            <img src="public/img/portfolio/8.jpg" alt="" class="img-responsive">
          </div>
        </figure>
      </li>
      <li class="portfolio-item" data-groups='["all", "app"]' data-contenttype="ajax" data-href="public/ajax/1.html">
        <figure>
          <div class="portfolio-img">
            <a href="#" class="overlay">
              <span class="title">Curabitur posuere</span>
              <span class="category">app</span>
            </a>
            <img src="public/img/portfolio/9.jpg" alt="" class="img-responsive">
          </div>
        </figure>
      </li>
      <li class="portfolio-item" data-groups='["all", "branding"]' data-contenttype="ajax" data-href="public/ajax/2.html">
        <figure>
          <div class="portfolio-img">
            <a href="#" class="overlay">
              <span class="title">Lacus id sapien</span>
              <span class="category">branding</span>
            </a>
            <img src="public/img/portfolio/10.jpg" alt="" class="img-responsive">
          </div>
        </figure>
      </li>
    </ul>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <a href="#" class="btn btn-theme-inverse mt40 wow fadeInDown" data-wow-duration="0.7s" data-wow-delay="0.5s" id="portfolio-more">More</a>
      </div>
    </div>
  </div>
</section>