<div class="modal fade" id="chef" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="u-close" data-dismiss="modal" aria-label="Close">&times;</button>
      </div>
      <div class="modal-body">
        <h4>Chef OpenStack</h4>
        <p class="modal-tagline"><i class="modal-role fa fa-user"></i> Product Manager</p>
        <h6>Duration</h6>
        <p class="modal-paragraph">3 months</p>
        <h6>Challenge</h6>
        <p class="modal-paragraph">Offer customers a concise set of recipes for OpenStack and SoftLayer servers.</p>
        <h6>Solution</h6>
        <p class="modal-paragraph">WIP</p>
        <h6>Final Product</h6>
        <p class="modal-paragraph"><a href="https://github.com/softlayer/chef-openstack" target="_blank">Chef OpenStack</a></p>
      </div>
      <div class="modal-footer"></div>
    </div>
  </div>
</div>
