<div class="modal fade" id="contact" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="u-close" data-dismiss="modal" aria-label="Close">&times;</button>
      </div>
      <div class="modal-body">
        <h4 class="namespace">{{site.title}}</h4>
        <p class="modal-tagline">{{site.tagline}}</p>
        <p>
          <i class="modal-icon fa fa-share-square"></i> Dallas, Texas<br>
          <i class="modal-icon fa fa-phone-square"></i> {{site.phone}}<br>
          <i class="modal-icon fa fa-envelope-square"></i> <a href="{{site.links.email}}" title="Email">Email me</a><br>
          <i class="modal-icon fa fa-twitter-square"></i> <a href="{{site.links.twitter}}" target="_blank" title="Twitter">Follow me on Twitter</a><br>
          <i class="modal-icon fa fa-linkedin-square"></i> <a href="{{site.links.linkedin}}" target="_blank" title="LinkedIn">Invite me on LinkedIn</a>
        </p>
      </div>
      <div class="modal-footer"></div>
    </div>
  </div>
</div>