<div class="modal fade" id="jumpgate" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="u-close" data-dismiss="modal" aria-label="Close">&times;</button>
      </div>
      <div class="modal-body">
        <h4>Jumpgate</h4>
        <p class="modal-tagline"><i class="modal-role fa fa-user"></i> Product Manager / Product Designer</p>
        <h6>Duration</h6>
        <p class="modal-paragraph">4 months</p>
        <h6>Challenge</h6>
        <p class="modal-paragraph">Offer customers an easy way to make the OpenStack API compatible with any existing public or private cloud provider.</p>
        <h6>Solution</h6>
        <p class="modal-paragraph">Create a translation layer that converts incoming OpenStack calls to different cloud provider’s API calls. Provide a WSGI-compatible interface to support nginx, Apache, gunicorn, and uwsgi. Incorporate as a series of pre-fabricated drivers within the Falcon framework.</p>
        <h6>Final Product</h6>
        <p class="modal-paragraph"><a href="https://github.com/softlayer/jumpgate" target="_blank">Jumpgate</a></p>
      </div>
      <div class="modal-footer"></div>
    </div>
  </div>
</div>
