<div class="modal fade" id="silhouette" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="u-close" data-dismiss="modal" aria-label="Close">&times;</button>
      </div>
      <div class="modal-body">
        <h4>Silhouette</h4>
        <p class="modal-tagline"><i class="modal-role fa fa-user"></i> Product Manager</p>
        <h6>Duration</h6>
        <p class="modal-paragraph">6 months</p>
        <h6>Challenge</h6>
        <p class="modal-paragraph">Offer customers a way to reduce OPEX by up to 40% and control operational budgets.</p>
        <h6>Solution</h6>
        <p class="modal-paragraph">Introduce a shared services platform for with built-in monitoring and analytics. Design it to scale across International regions and capture detailed, real-time shipping expenditures for reporting.</p>
        <h6>Final Product</h6>
        <p class="modal-paragraph"><a href="http://www.neopostusa.com/shipping-tracking-solutions/parcel-analytics" target="_blank">Parcel Analytics</a></p>
      </div>
      <div class="modal-footer"></div>
    </div>
  </div>
</div>
