<section id="about">
  <div id="anchor2"></div>
  <div class="container">
    <div class="col1-1 u-text-center">
      <h3>About</h3>
    </div>
    <div class="col1-1">
      <p class="lead"><q>The winning army realizes the conditions for victory first, then fights. The losing army fights first, then seeks victory.</q> &mdash; Sun Tsu</p>
    </div>
  </div>
  {% include sections/gallery.html %} <!-- Liquid Tag -->
  <div class="container">
    <div class="u-text-break"></div>
    <div class="col1-3">
      <h4>Profile</h4>
      <img class="img-thumbnail" src="{{page.baseurl}}public/img/michael-orourke-alt.jpg" alt="Michael O'Rourke" data-no-retina>
      <p>
        Name: {{site.title}}<br>
        Gender: Male<br>
        Race: Caucasian<br>
        Citizenship: United States<br>
        Language: English
      </p>
      <br>
    </div>
    <div class="col2-3">
      <h4>Summary</h4>
      <p>I am an accomplished technologist with experience managing the strategic and tactical avenues for high-tech products. I have a solid reputation for creating forward-thinking strategies, aligning business and development pillars, and taking new products from concept, to design, to development, to delivery.</p>
      <p>I am tech-savvy, creative, and analytical with an extensive background in Software Development, Product Innovation, and Cloud Computing. I am also adept at drilling into marketspaces and translating needs into feature functionality. I thrive in fast-paced environments with the autonomy to work creatively, take on new challenges, and improve continuously.</p>
      <br>
      <h4>Highlights</h4>
      <ul class="list-style-disc">
        <li>15 years in Product Management, Product Design, and Web Engineering</li>
        <li>Working knowledge of Agile, Lean, DevOps, and Pragmatic Marketing</li>
        <li>Degree in Management Information Systems</li>
        <li>Certified PMP, Product Owner, ScrumMaster, and more</li>
        <li>Studying Information Technology</li>
        <li>Proficient in HTML/CSS, jQuery, LESS/SASS, PHP, and SQL</li>
      </ul>
    </div>
  </div>
</section>
