<section class="u-border-bottom-removed" id="education">
  <div id="anchor5"></div>
  <div class="container">
    <div class="col1-1 u-text-center">
      <h3>Education</h3>
    </div>
    <div class="col1-1">
      <p class="lead">
        <q>Knowledge is knowing that a tomato is a fruit. Wisdom is not putting it in a fruit salad.</q> &mdash; Miles Kingston
      </p>
    </div>
    <div class="col1-1">
      <div class="tab-accordion">
        <div class="tab is-closed">
          <div class="tab-arrow-down"></div>
          <div class="tab-date"><span>Sep</span> 2015 - PRESENT</div>
          <div class="tab-content">
            <h4>Information Technology</h4>
            <h5>Liberty University <span class="tab-content-membership"> Student #{{site.member.liberty}}</span></h5>
            <div class="tab-collapsed">
              <p>Developing critical skills in the expanding field of advanced technology. Obtaining insight into digital imaging, graphic design, programming, and enterprise technologies. Field of study includes development, networking, security, programming, and design.</p>
              <h5 class="tab-content-label">Relevant Courses</h5>
              <ul class="list-style-disc">
                <li>Computing Sciences</li>
                <li>Web Architecture &amp; Development</li>
                <li>Information Security</li>
                <li>Human-Computer Interfaces</li>
                <li>Client-Side Programming</li>
                <li>Server-Side Programming</li>
                <li>Web &amp; Mobile Programming</li>
                <li>Enterprise Systems &amp; Integration</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="tab is-closed">
          <div class="tab-arrow-down"></div>
          <div class="tab-date"><span>Aug</span> 2009 - <span>Sep</span> 2011</div>
          <div class="tab-content">
            <h4>Management Information Systems</h4>
            <h5>Liberty University <span class="tab-content-membership"> Student #{{site.member.liberty}}</span></h5>
            <div class="tab-collapsed">
              <p>Delved into the core of business and technology. Effectively applied information technology and business processes across a broad spectrum of disciplines. Developed advanced skills in business application software and current programming languages, as well as the phases of software development and the management of lifecycles in a business environment.</p>
              <h5 class="tab-content-label">Relevant Courses</h5>
              <ul class="list-style-disc">
                <li>Application Programming</li>
                <li>Business Communication</li>
                <li>Business Management</li>
                <li>Database Management Systems (SQL)</li>
                <li>Fundamentals of Product Design</li>
                <li>Object-Oriented Programming (Java)</li>
                <li>Probability &amp; Statistics</li>
                <li>System Analysis &amp; Design</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="tab is-closed">
          <div class="tab-arrow-down"></div>
          <div class="tab-date"><span>Dec</span> 2011 - Present</div>
          <div class="tab-content">
            <h4>Practical Product Management Certified</h4>
            <h5>Pragmatic Marketing</h5>
            <div class="tab-collapsed">
              <p>Coached on the principles of Practical Product Management, including how to use the Pragmatic Marketing Framework as a standard language for the entire product team, and the key activities necessary to bring profitable, problem-oriented products to market. Other completed courses include "Product Roadmapping" and "Requirements That Work".</p>
            </div>
          </div>
        </div>
        <div class="tab is-closed">
          <div class="tab-arrow-down"></div>
          <div class="tab-date"><span>Jan</span> 2011 - Present</div>
          <div class="tab-content">
            <h4>Project Management Professional (PMP)</h4>
            <h5>Project Management Institute <span class="tab-content-membership"> Member #{{site.member.pmp}}</span></h5>
            <div class="tab-collapsed">
              <p>The most industry-recognized certification for project managers. Signifies that I speak and understand the global language of project management. Adept at working in virtually any industry, with any methodology, and in any location.</p>
              <p><a href="{{page.baseurl}}public/docs/Michael-ORourke-PMP.pdf" target="_blank">View Certificate <i class="fa fa-external-link"></i></a></p>
            </div>
          </div>
        </div>
        <div class="tab is-closed">
          <div class="tab-arrow-down"></div>
          <div class="tab-date"><span>Jul</span> 2011 - Present</div>
          <div class="tab-content">
            <h4>Certified Scrum Product Owner</h4>
            <h5>Scrum Alliance <span class="tab-content-membership"> Member #{{site.member.scrum}}</span></h5>
            <div class="tab-collapsed">
              <p>Certified in the Scrum practices and principles that enable me to fulfill the role of Product Owner on any Scrum team. Well-versed in how to manage the business-side of projects, how to get the product out, and how to do the best possible job of satisfying all the stakeholders. Included techniques for maintaining the product backlog and ensuring that everyone knows the priorities.</p>
              <p><a href="{{page.baseurl}}public/docs/Michael-ORourke-CSPO.pdf" target="_blank">View Certificate <i class="fa fa-external-link"></i></a></p>
            </div>
          </div>
        </div>
        <div class="tab is-closed">
          <div class="tab-arrow-down"></div>
          <div class="tab-date"><span>Sep</span> 2011 - Present</div>
          <div class="tab-content">
            <h4>Certified Scrum Professional</h4>
            <h5>Scrum Alliance <span class="tab-content-membership"> Member #{{site.member.scrum}}</span></h5>
            <div class="tab-collapsed">
              <p>Successfully demonstrated experience, training, and proven knowledge in the art of Scrum. Adept at improving the way Scrum and other Agile methods are implemented for every project.</p>
              <p><a href="{{page.baseurl}}public/docs/Michael-ORourke-CSP.pdf" target="_blank">View Certificate <i class="fa fa-external-link"></i></a></p>
            </div>
          </div>
        </div>
        <div class="tab is-closed">
          <div class="tab-arrow-down"></div>
          <div class="tab-date"><span>Oct</span> 2010 - Present</div>
          <div class="tab-content">
            <h4>Certified ScrumMaster</h4>
            <h5>Scrum Alliance <span class="tab-content-membership"> Member #{{site.member.scrum}}</span></h5>
            <div class="tab-collapsed">
              <p>Acquired skills to help project teams properly use Scrum, thereby increasing the likelihood of any project's overall success. Firmly understand Scrum values, practices, and applications and attained a level of knowledge and expertise above and beyond that of typical project managers.</p>
              <p><a href="{{page.baseurl}}public/docs/Michael-ORourke-CSM.pdf" target="_blank">View Certificate <i class="fa fa-external-link"></i></a></p>
            </div>
          </div>
        </div>
        <div class="tab is-closed">
          <div class="tab-arrow-down"></div>
          <div class="tab-date"><span>Aug</span> 2012 - Present</div>
          <div class="tab-content">
            <h4>CloudU Certified</h4>
            <h5>Cloud University</h5>
            <div class="tab-collapsed">
              <p>A vendor-neutral curriculum designed for business owners and technical professionals who want to bolster their knowledge of the fundamentals of Cloud Computing. Includes a comprehensive series of original whitepapers, live and on-demand webinars, events, blogs, videos and e-books aimed at increasing Cloud Computing knowledge among businesses.</p>
              <p><a href="{{page.baseurl}}public/docs/Michael-ORourke-CloudU.pdf" target="_blank">View Certificate <i class="fa fa-external-link"></i></a></p>
            </div>
          </div>
        </div>
        <div class="tab is-closed">
          <div class="tab-arrow-down"></div>
          <div class="tab-date"><span>Jul</span> 2007 - Present</div>
          <div class="tab-content">
            <h4>Network+ Certified</h4>
            <h5>CompTIA <span class="tab-content-membership"> Member #{{site.member.comptia}}</span></h5>
            <div class="tab-collapsed">
              <p>ISO-17024 compliant, vendor-neutral technology certification. Verifies that I have the skills and knowledge needed to take on a pivotal role in building, managing, and protecting critical assets of a data network.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="anchor-section"></div>
  </div>
</section>
