<section class="u-border-removed" id="experience">
  <div id="anchor3"></div>
  <div class="container">
    <div class="col1-1 u-text-center">
      <h3>Experience</h3>
    </div>
    <div class="col1-1">
      <p class="lead">
        <q>Good judgment comes from experience, and experience comes from bad judgment.</q> &mdash; Rita Mae Smith
      </p>
    </div>
    <div class="col1-1">
      <div class="tab-accordion">
        <div class="tab is-closed">
          <div class="tab-arrow-down"></div>
          <div class="tab-date"><span>Sep</span> 2012 - Present</div>
          <div class="tab-content">
            <h4>Product Manager</h4>
            <h5>IBM Cloud <span class="tab-content-location"> Dallas, Texas</span></h5>
            <div class="tab-collapsed">
              <p>Cultivate pipelines to new markets and design service offerings for a growing cloud infrastructure. Responsible for cloud foundational services in global marketplaces. Reports directly to the CTO.</p>
              <h5 class="tab-content-label">Accomplishments</h5>
              <ul class="list-style-disc">
                <li>Conduct analysis by synthesizing market and data-driven insights</li>
                <li>Establish vertical and encompassed products in our Marketplace catalog</li>
                <li>Craft prototype front-end UIs for proof-of-concept</li>
                <li>Evaluate avenues for organic expansion and strategic partnerships</li>
                <li>Provide CxO-level decisions by finding the right Product-Market fit</li>
                <li>Build business cases and translate needs into stories for dev consumption</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="tab is-closed">
          <div class="tab-arrow-down"></div>
          <div class="tab-date"><span>Jul</span> 2003 - <span>Aug</span> 2012</div>
          <div class="tab-content">
            <h4>Senior Product Manager</h4>
            <h5>Neopost ID <span class="tab-content-location"> Austin, Texas</span></h5>
            <div class="tab-collapsed">
              <p>Pivoted product initiatives and market strategies toward developing new online ecosystems and native apps. Responsible for customer-facing software and integrated solutions. Reported to the Director of Product Management.</p>
              <h5 class="tab-content-label">Accomplishments</h5>
              <ul class="list-style-disc">
                <li>Reached untapped markets and revenue flows</li>
                <li>Evangelized products and company brands to increase global footprint</li>
                <li>Enacted Open API strategies for resellers</li>
                <li>Launched app store with Internet-enabled mobile/desktop apps</li>
                <li>Increased attachment rates 21-29% year-over-year</li>
                <li>Established new PMO and Application Portfolio practices</li>
                <li>Led $25M company-wide project to turn homegrown LOB apps into enterprise systems</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="tab is-closed">
          <div class="tab-arrow-down"></div>
          <div class="tab-date"><span>Nov</span> 2000 - <span>Dec</span> 2002</div>
          <div class="tab-content">
            <h4>Technical Consultant</h4>
            <h5>Sprint Nextel <span class="tab-content-location"> Plano, Texas</span></h5>
            <div class="tab-collapsed">
              <p>Coordinated rollouts for mobile products and provided back office support. Responsible for all mobile assets and services. Reported to the Technical Operations Manager.</p>
              <h5 class="tab-content-label">Accomplishments</h5>
              <ul class="list-style-disc">
                <li>Managed firmware builds and automated testing for new devices</li>
                <li>Performed routine/non-routine updates during planned windows</li>
                <li>Deployed system upgrades, new hardware loads, and data swaps</li>
                <li>Developed and distributed release content, collateral, and technical articles</li>
                <li>Gathered quantitative data to report failure trends and serviceability issues</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
