<div class="gallery desktop-col1-3 tablet-col1-3 mobile-col1-1">
  <figure class="gallery-item">
    <img src="{{page.baseurl}}public/img/bg-gallery-left.jpg" alt="Product Manager" data-no-retina>
    <figcaption class="gallery-item-text">
      <div class="gallery-item-headline">
        <strong>Product Manager</strong>
        <p>Software Development, Product Innovation, Cloud Services</p>
      </div>
    </figcaption>
  </figure>
  <figure class="gallery-item">
    <img src="{{page.baseurl}}public/img/bg-gallery-center.jpg" alt="Web Engineer" data-no-retina>
    <figcaption class="gallery-item-text">
      <div class="gallery-item-headline">
        <strong>Web Engineer</strong>
        <p>Front-End, Integration, CRM</p>
      </div>
    </figcaption>
  </figure>
  <figure class="gallery-item">
    <img src="{{page.baseurl}}public/img/bg-gallery-right.jpg" alt="Product Designer" data-no-retina>
    <figcaption class="gallery-item-text">
      <div class="gallery-item-headline">
        <strong>Product Designer</strong>
        <p>Prototypes, Mockups, UI, Information Design</p>
      </div>
    </figcaption>
  </figure>
</div>
