<!-- Modals -->
{% include modals/canary.html %}
{% include modals/chef.html %}
{% include modals/envoy.html %}
{% include modals/jumpgate.html %}
{% include modals/metis.html %}
{% include modals/opus.html %}
{% include modals/osiris.html %}
{% include modals/silhouette.html %}
{% include modals/simone.html %}

<section class="u-padding-removed" id="products">
  <div id="anchor6"></div>
  <div class="u-section-break"></div>
  <div class="gallery desktop-col1-3 tablet-col1-3 mobile-col1-1">
    <figure class="gallery-item" data-toggle="modal" data-target="#canary">
      <img src="{{page.baseurl}}public/img/products/bg-products-laptop.jpg" data-no-retina>
      <figcaption class="gallery-item-text show">
        <div class="gallery-item-headline gallery-icons">
          <strong>Canary</strong>
          <p>PaaS, Monitoring, Dashboard UI</p>
        </div>
        <div class="gallery-links">
          <i class="gallery-links-icon-6x fa fa-cubes"></i>
          <i class="gallery-links-icon-7x icon-python"></i>
          <i class="gallery-links-icon-8x icon-hadoop"></i>
          <i class="gallery-links-icon-9x fa fa-dashboard"></i>
        </div>
      </figcaption>
    </figure>
    <figure class="gallery-item" data-toggle="modal" data-target="#chef">
      <img src="{{page.baseurl}}public/img/products/bg-products-tablet.jpg" data-no-retina>
      <figcaption class="gallery-item-text show">
        <div class="gallery-item-headline gallery-icons">
          <strong>Chef OpenStack</strong>
          <p>IaaS, Open Source, Virtual Machines</p>
        </div>
        <div class="gallery-links">
          <i class="gallery-links-icon-6x fa fa-cloud-upload"></i>
          <i class="gallery-links-icon-7x icon-python"></i>
          <i class="gallery-links-icon-8x icon-ubuntu"></i>
          <i class="gallery-links-icon-9x fa fa-flask"></i>
        </div>
      </figcaption>
    </figure>
    <figure class="gallery-item" data-toggle="modal" data-target="#envoy">
      <img src="{{page.baseurl}}public/img/products/bg-products-headphones.jpg" data-no-retina>
      <figcaption class="gallery-item-text show">
        <div class="gallery-item-headline gallery-icons">
          <strong>Envoy</strong>
          <p>IaaS, Cold Storage, CDN, Transcoding</p>
        </div>
        <div class="gallery-links">
          <i class="gallery-links-icon-6x fa fa-desktop"></i>
          <i class="gallery-links-icon-7x icon-php-alt"></i>
          <i class="gallery-links-icon-8x icon-mariadb"></i>
          <i class="gallery-links-icon-9x fa fa-dashboard"></i>
        </div>
      </figcaption>
    </figure>
  </div>
  <div class="gallery desktop-col1-3 tablet-col1-3 mobile-col1-1">
    <figure class="gallery-item" data-toggle="modal" data-target="#jumpgate">
      <img src="{{page.baseurl}}public/img/products/bg-products-code.jpg" data-no-retina>
      <figcaption class="gallery-item-text show">
        <div class="gallery-item-headline gallery-icons">
          <strong>Jumpgate</strong>
          <p>IaaS, Open Source, Drivers</p>
        </div>
        <div class="gallery-links">
          <i class="gallery-links-icon-6x fa fa-cloud-upload"></i>
          <i class="gallery-links-icon-7x icon-python"></i>
          <i class="gallery-links-icon-8x icon-debian"></i>
          <i class="gallery-links-icon-9x fa fa-flask"></i>
        </div>
      </figcaption>
    </figure>
    <figure class="gallery-item" data-toggle="modal" data-target="#metis">
      <img src="{{page.baseurl}}public/img/products/bg-products-worker.jpg" data-no-retina>
      <figcaption class="gallery-item-text show">
        <div class="gallery-item-headline gallery-icons">
          <strong>Metis</strong>
          <p>DaaS, App Integration, CLI</p>
        </div>
        <div class="gallery-links">
          <i class="gallery-links-icon-6x fa fa-database"></i>
          <i class="gallery-links-icon-7x fa fa-terminal"></i>
          <i class="gallery-links-icon-8x fa fa-desktop"></i>
          <i class="gallery-links-icon-9x icon-mysql"></i>
        </div>
      </figcaption>
    </figure>
    <figure class="gallery-item" data-toggle="modal" data-target="#opus">
      <img src="{{page.baseurl}}public/img/products/bg-products-dual.jpg" data-no-retina>
      <figcaption class="gallery-item-text show">
        <div class="gallery-item-headline gallery-icons">
          <strong>Opus</strong>
          <p>SaaS, M2M, On-Prem, Data Aggregator</p>
        </div>
        <div class="gallery-links">
          <i class="gallery-links-icon-6x fa fa-globe"></i>
          <i class="gallery-links-icon-7x icon-redhat"></i>
          <i class="gallery-links-icon-8x icon-csharp"></i>
          <i class="gallery-links-icon-9x icon-mssql"></i>
        </div>
      </figcaption>
    </figure>
  </div>
  <div class="gallery desktop-col1-3 tablet-col1-3 mobile-col1-1">
    <figure class="gallery-item" data-toggle="modal" data-target="#osiris">
      <img src="{{page.baseurl}}public/img/products/bg-products-desktop.jpg" data-no-retina>
      <figcaption class="gallery-item-text show">
        <div class="gallery-item-headline gallery-icons">
          <strong>Osiris</strong>
          <p>SaaS, e-Commerce, Networking</p>
        </div>
        <div class="gallery-links">
          <i class="gallery-links-icon-6x fa fa-globe"></i>
          <i class="gallery-links-icon-7x fa fa-signal"></i>
          <i class="gallery-links-icon-8x fa fa-shopping-cart"></i>
          <i class="gallery-links-icon-9x fa fa-cc-visa"></i>
        </div>
      </figcaption>
    </figure>
    <figure class="gallery-item" data-toggle="modal" data-target="#silhouette">
      <img src="{{page.baseurl}}public/img/products/bg-products-notebook.jpg" data-no-retina>
      <figcaption class="gallery-item-text show">
        <div class="gallery-item-headline gallery-icons">
          <strong>Silhouette</strong>
          <p>PaaS, Shared Service, BI, ETL</p>
        </div>
        <div class="gallery-links">
          <i class="gallery-links-icon-6x fa fa-cubes"></i>
          <i class="gallery-links-icon-7x fa fa-share-alt"></i>
          <i class="gallery-links-icon-8x fa fa-exchange"></i>
          <i class="gallery-links-icon-9x fa fa-lock"></i>
        </div>
      </figcaption>
    </figure>
    <figure class="gallery-item" data-toggle="modal" data-target="#simone">
      <img src="{{page.baseurl}}public/img/products/bg-products-mobile.jpg" data-no-retina>
      <figcaption class="gallery-item-text show gallery-icons">
        <div class="gallery-item-headline gallery-icons">
          <strong>Simone</strong>
          <p>SaaS, Ticketing, Mobility, CRM</p>
        </div>
        <div class="gallery-links">
          <i class="gallery-links-icon-6x fa fa-globe"></i>
          <i class="gallery-links-icon-7x fa fa-ticket"></i>
          <i class="gallery-links-icon-8x icon-mariadb"></i>
          <i class="gallery-links-icon-9x fa fa-dashboard"></i>
        </div>
      </figcaption>
    </figure>
  </div>
</section>
