<!-- Modals -->
{% include modals/canary.html %}
{% include modals/chef.html %}
{% include modals/envoy.html %}
{% include modals/jumpgate.html %}
{% include modals/mosina.html %}
{% include modals/osiris.html %}
{% include modals/quasar.html %}
{% include modals/silhouette.html %}
{% include modals/simone.html %}

<section class="u-padding-removed" id="products">
  <div id="anchor6"></div>
  <div class="u-section-break"></div>
  <div class="gallery desktop-col1-3 tablet-col1-3 mobile-col1-1">
    <figure class="gallery-item" data-toggle="modal" data-target="#canary">
      <img src="{{page.baseurl}}public/img/products/bg-products-laptop.jpg" data-no-retina>
      <figcaption class="gallery-item-text">
        <div class="gallery-item-headline">
          <strong>Canary</strong>
          <p>PaaS, Monitoring, Dashboard UI</p>
        </div>
      </figcaption>
    </figure>
    <figure class="gallery-item" data-toggle="modal" data-target="#chef">
      <img src="{{page.baseurl}}public/img/products/bg-products-tablet.jpg" data-no-retina>
      <figcaption class="gallery-item-text">
        <div class="gallery-item-headline">
          <strong>Chef OpenStack</strong>
          <p>IaaS, Open Source, Virtual Machines</p>
        </div>
      </figcaption>
    </figure>
    <figure class="gallery-item" data-toggle="modal" data-target="#envoy">
      <img src="{{page.baseurl}}public/img/products/bg-products-headphones.jpg" data-no-retina>
      <figcaption class="gallery-item-text">
        <div class="gallery-item-headline">
          <strong>Envoy</strong>
          <p>IaaS, Cold Storage, CDN, Transcoding</p>
        </div>
      </figcaption>
    </figure>
  </div>
  <div class="gallery desktop-col1-3 tablet-col1-3 mobile-col1-1">
    <figure class="gallery-item" data-toggle="modal" data-target="#jumpgate">
      <img src="{{page.baseurl}}public/img/products/bg-products-code.jpg" data-no-retina>
      <figcaption class="gallery-item-text">
        <div class="gallery-item-headline">
          <strong>Jumpgate</strong>
          <p>IaaS, Open Source, Drivers</p>
        </div>
      </figcaption>
    </figure>
    <figure class="gallery-item" data-toggle="modal" data-target="#mosina">
      <img src="{{page.baseurl}}public/img/products/bg-products-worker.jpg" data-no-retina>
      <figcaption class="gallery-item-text">
        <div class="gallery-item-headline">
          <strong>Mosina</strong>
          <p>DaaS, App Integration, CLI</p>
        </div>
      </figcaption>
    </figure>
    <figure class="gallery-item" data-toggle="modal" data-target="#osiris">
      <img src="{{page.baseurl}}public/img/products/bg-products-dual.jpg" data-no-retina>
      <figcaption class="gallery-item-text">
        <div class="gallery-item-headline">
          <strong>Osiris</strong>
          <p>SaaS, e-Commerce, M2M, Networking</p>
        </div>
      </figcaption>
    </figure>
  </div>
  <div class="gallery desktop-col1-3 tablet-col1-3 mobile-col1-1">
    <figure class="gallery-item" data-toggle="modal" data-target="#quasar">
      <img src="{{page.baseurl}}public/img/products/bg-products-desktop.jpg" data-no-retina>
      <figcaption class="gallery-item-text">
        <div class="gallery-item-headline">
          <strong>Quasar</strong>
          <p>IaaS, OpenStack, Platform Services</p>
        </div>
      </figcaption>
    </figure>
    <figure class="gallery-item" data-toggle="modal" data-target="#silhouette">
      <img src="{{page.baseurl}}public/img/products/bg-products-notebook.jpg" data-no-retina>
      <figcaption class="gallery-item-text">
        <div class="gallery-item-headline">
          <strong>Silhouette</strong>
          <p>PaaS, Shared Service, BI, ETL</p>
        </div>
      </figcaption>
    </figure>
    <figure class="gallery-item" data-toggle="modal" data-target="#simone">
      <img src="{{page.baseurl}}public/img/products/bg-products-mobile.jpg" data-no-retina>
      <figcaption class="gallery-item-text">
        <div class="gallery-item-headline">
          <strong>Simone</strong>
          <p>SaaS, Ticketing, Mobility, CRM</p>
        </div>
      </figcaption>
    </figure>
  </div>
</section>
