<!-- PROCESS MODAL -->
<div class="modal fade" id="configd" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Properties</h4>
      </div>

      <div class="modal-body row">
        <div class="col-md-5">
          <strong>Process</strong>
        </div>
        <div class="col-md-7">
          svc.configd
        </div>

        <div class="col-md-5">
          <strong>Directory</strong>
        </div>
        <div class="col-md-7">
          root
        </div>

        <div class="col-md-5">
          <strong>Created By</strong>
        </div>
        <div class="col-md-7">
          vsadmin
        </div>

        <div class="col-md-5">
          <strong>Created On</strong>
        </div>
        <div class="col-md-7">
          Dec 1, 2014
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger">Remove</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
      </div>
    </div>
  </div>
</div>
